<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Notes</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style13.css' %}">
  <link rel="stylesheet" media="print" href="{% static 'css/print2.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  {% load static %}
  <script src="{% static 'js/jquery.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
</head>
<body>

  <header class="pagina-logo">
    <div class="header-container">
      <!-- <h1><a href="{% url 'index' %}" class="notas-link">Notas</a></h1> -->
    
    <!--<img src="{% static 'img/barras.svg' %}" alt="" class="barras">-->

      <!-- old -->
      <!-- <nav class="about-barras">
        {% load static %}
        <img src="{% static 'img/barras.svg' %}" alt="barras" class="barras">
        {% load static %}
        <img src="{% static 'img/x.svg' %}" alt="Close" class="barras hide">
      </nav>

      <section class="extra">
        {% if user.is_authenticated %}
        <a href="{% url 'mis-notas' %}" class="mis-notas-link">Mis notas</a>
        <a href="{% url 'logout' %}" class="logout-link">Log out</a>
      
        {% else %}
      
        <div class="extra-links">
          <a href="{% url 'login-c' %}" class="login-link">Log in</a>
          <span> or </span> 
          <a href="{% url 'register' %}" class="login-link">register</a>
        </div>
      
        {% endif %}
      
        <p class="personal">Work in progress, made by Ildebrando Quinchoa. All rights reserved, for more of my work visit my <a href="https://ildebr.github.io/portfolio" class="portafolio-link">portfolio.</a></p>
      </section> -->

      <!-- new -->

      <div class="logo-container">
        <h1><a href="{% url 'index' %}">Notes</a></h1>
      </div> 

      <div class="extra-container">
        <nav class="about-barras">
          {% load static %}
          <img src="{% static 'img/barras.svg' %}" alt="barras" class="barras">
          {% load static %}
          <img src="{% static 'img/x.svg' %}" alt="Close" class="barras hide">
        </nav>

        <div class="auth-links">
          {% if user.is_authenticated %}
          <a href="{% url 'create-note' %}" class="login-link">New</a>
          <a href="{% url 'logout' %}" class="login-link">Log out</a>
          {% else %}

          <a href="{% url 'login-c' %}" class="login-link">Log in</a>
          <a href="{% url 'register' %}" class="login-link">Register</a>

          {% endif %}
          
        </div>

        <section class="extra">
          {% if user.is_authenticated %}
          <a href="{% url 'mis-notas' %}" class="mis-notas-link">Mis notas</a>
          <a href="{% url 'logout' %}" class="logout-link">Log out</a>
        
          {% else %}
        
          <div class="extra-links">
            <a href="{% url 'login-c' %}" class="login-link">Log in</a>
            <span> or </span> 
            <a href="{% url 'register' %}" class="login-link">register</a>
            <span class="line"></span>
            <a href="{% url 'google_login' %}" class="signup-button auth__button google-button"> <img src="{% static 'img/g-normal.png' %}" alt="barras" class="google-icon"> Log in with Google</a>
          </div>
        
          {% endif %}
        
          <p class="personal">Work in progress, made by Ildebrando Quinchoa. All rights reserved, for more of my work visit my <a href="https://ildebr.github.io/portfolio" class="portafolio-link">portfolio.</a></p>
        </section>
      </div>
    </div>

  </header>
  <main class="main-container">
      
      

      {% block content %}
      {% endblock %}
  </div>
</main>






{% load static %}
<script src="{% static 'js/js.js' %}"></script>


<script>
  window.onload = () =>{
    var elem = document.querySelector('.notas-container');
    var msnry = new Masonry( elem, {
      // options
      itemSelector: '.nota-li',
      gutter: 10,
    });


    // var nav = document.querySelector('.about-barras')
    // var sec = document.querySelector('section.extra')

    // nav.addEventListener('mouseover', ()=>{
    //   $("section.extra").toggleClass("initial-pos");
    //   $("img.barras").toggleClass("hide");
    // })

    // nav.addEventListener('mouseout', ()=>{
    //   $("section.extra").toggleClass("initial-pos");
    //   $("img.barras").toggleClass("hide");
    // })

    // sec.addEventListener('mouseover', (e)=>{
    //   e.stopPropagation()
    //   console.log('´p')
    //   $("section.extra").toggleClass("initial-pos");
    //   $("img.barras").toggleClass("hide");
    // }, false)

    // sec.addEventListener('mouseout', ()=>{
    //   $("section.extra").toggleClass("initial-pos");
    //   $("img.barras").toggleClass("hide");
    // })
  }
</script>
</html>